$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

$font-size-base: 18px;

$primary-font: "Poppins", "Roboto", sans-serif;
$secondary-font: "Bebas Neue", "Poppins", "Roboto", sans-serif;
$blue-corporate: #7edad2;
$grey-corporate: #909090;
